**Hi, I'm Frank.**

I am a software engineer who loves privacy, security, and open source. I mostly write Go, TypeScript, & Python on personal projects and currently Go, Swift, Java, and Kotlin for work. Though, I am currently learning and loving Rust.

I am a tech lead at [@JPMorganChase](https://github.com/jpmorganchase)'s Global Business Accelerator, running a team focused on privacy and security. Prior to that, I served as a founding engineer at [@Svix](https://github.com/svix) (YC W21), where I helped build the company's initial platform and infrastructure. Before covid, I was the lead backend engineer at [@Ghostery](https://github.com/ghostery)/[@Cliqz](https://github.com/cliqz), working on anti-tracking software.

You can find more information about me and my work on my [personal website](https://frankchiarulli.com), or connect with me on [Twitter](https://twitter.com/_fcjr). You can find my other social media profiles on [keybase](https://keybase.io/fcjr).

---

This `README.md` is regenerated every hour via [this GitHub Action](https://github.com/fcjr/fcjr/blob/master/.github/workflows/ci.yml) with the intent to automatically generate content.
